@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
        --light: #f6f6f9;
        --primary: #5186bb;
        --light-primary: #CFE8FF;
        --grey: #eee;
        --dark-grey: #AAAAAA;
        --dark: #363949;
        --danger: #D32F2F;
        --light-danger: #FECDD3;
        --warning: #FBC02D; 
        --light-warning: #FFF2C6;
        --success: #a72dac;
        --light-success: #BBF7D0;

        --color-primary: #6C9BCF;
        --color-danger: #FF0060;
        --color-success: #1B9C85;
        --color-warning: #F7D060;
        --color-white: #fff;
        --color-info-dark: #7d8da1;
        --color-dark: #363949;
        --color-light: rgba(132, 139, 200, 0.18);
        --color-dark-variant: #677483;
        --color-background: #f6f6f9;
    
        --card-border-radius: 2rem;
        --border-radius-1: 0.4rem;
        --border-radius-2: 1.2rem;
    
        --card-padding: 1.8rem;
        --padding-1: 1.2rem;
    
        --box-shadow: 0 2rem 3rem var(--color-light);
    }
    
    


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.bx{
    font-size: 1.7rem;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}



body.dark{
    --light: #181a1e;
    --grey: #25252c;
    --dark: #fbfbfb
}

body{
    background: var(--grey);
    overflow-x: hidden;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    background: var(--light);
    width: 230px;
    height: 100%;
    z-index: 2000;
    overflow-x: hidden;
    scrollbar-width: none;
    transition: all 0.3s ease;
}

.sidebar::-webkit-scrollbar{
    display: none;
}

.sidebar.close{
    width: 60px;
}

.sidebar .logo{
    font-size: 24px;
    font-weight: 700;
    height: 56px;
    display: flex;
    align-items: center;
    color: var(--primary);
    z-index: 500;
    padding-bottom: 20px;
    box-sizing: content-box;
}

.sidebar .logo .logo-name span{
    color: var(--dark);
}

.sidebar .logo .bx{
    min-width: 60px;
    display: flex;
    justify-content: center;
    font-size: 2.2rem;
}

.sidebar .side-menu{
    width: 100%;
    margin-top: 48px;
}

.sidebar .side-menu li{
    height: 48px;
    background: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
}

.sidebar .side-menu li{
    background: var(--grey);
    position: relative;
}

.sidebar .side-menu li::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 var(--grey);
    z-index: -1;
}

.sidebar .side-menu li::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 var(--grey);
    z-index: -1;
}

.sidebar .side-menu li a{
    width: 100%;
    height: 100%;
    background: var(--light);
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: var(--dark);
    white-space: nowrap;
    overflow-x: hidden;
    transition: all 0.3s ease;
}

.sidebar .side-menu li.active a{
    color: var(--success);
}

.sidebar.close .side-menu li a{
    width: calc(48px - (4px * 2));
    transition: all 0.3s ease;
}

.sidebar .side-menu li a .bx{
    min-width: calc(60px - ((4px + 6px) * 2));
    display: flex;
    font-size: 1.6rem;
    justify-content: center;
}


.interface{
    position: relative;
    width: calc(100% - 230px);
    left: 230px;
    transition: all 0.3s ease;
}

.sidebar.close~.interface{
    width: calc(100% - 60px);
    left: 60px;
}
.interface nav .theme-toggle{
    display: block;
    min-width: 50px;
    height: 25px;
    background: var(--grey);
    cursor: pointer;
    position: absolute;
    border-radius: 25px;
    margin-left: 60%;
}

.interface nav .theme-toggle::before{
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: calc(25px - 4px);
    background: var(--primary);
    border-radius: 50%;
    transition: all 0.3s ease;
}

.interface nav #theme-toggle:checked+.theme-toggle::before{
    left: calc(100% - (25px - 4px) - 2px);
}

.interface nav{
    height: 56px;
    background: var(--light);
    padding: 0 24px 0 0;
    display: flex;
    align-items: center;
    grid-gap: inherit;
    position: sticky;
    margin-top: -25px;
    left: 0;
    z-index: 1000;
}

.interface nav::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -40px;
    left: 0;
    border-radius: 50%;
    box-shadow: -20px -20px 0 var(--light);
}

.interface nav a{
    color: var(--dark);
}

.interface nav .bx.bx-menu{
    cursor: pointer;
    color: var(--dark);
    margin-left:10px;
}

.interface nav form{
    max-width: 400px;
    width: 100%;
    margin-right: auto;
}

.interface nav form .form-input{
    display: flex;
    align-items: center;
    height: 36px;
}

.interface nav form .form-input input{
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: var(--grey);
    border-radius: 36px 0 0 36px;
    outline: none;
    width: 100%;
    color: var(--dark);
    margin-left: 10px;
}

.interface nav form .form-input button{
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary);
    color: var(--light);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
}

.interface nav .notif{
    font-size: 20px;
    position: relative;
}

.interface nav .notif .count{
    position: absolute;
    top: -6px;
    right: -6px;
    width: 20px;
    height: 20px;
    background: var(--danger);
    border-radius: 50%;
    color: var(--light);
    border: 2px solid var(--light);
    font-weight: 700;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown {
    position:fixed;
    top: -5px;
    right: 30px;
}

.dropdown .profile{
    position: relative;
    width: 60px;
    height: 56px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    top: 6px;
    
}
.dropdown .profile img{
    position: fixed;
    width: 60px;
    height: 55px;
    border-radius: 38px;
    z-index: 999;
    

  
}
.dropdown .menu {
    position: absolute;
    top: 120px;
    right: -10px;
    padding: 10px 20px;
    background-color: #fff;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0,0,0,1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}
.dropdown .menu.active {
    visibility: visible;
    opacity: 1;
    top:80px;
}

.dropdown .menu::before {
    content: '';
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background:#ffff;
    transform: rotate(45deg);
}
.dropdown .menu h3 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    color:#555;
    line-height: 1.2em;
}
.dropdown .menu h3 span {
    font-size: 14px;
    color: #cecece;
    font-weight: 400;
}
.dropdown .menu ul li {
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
    
}
.dropdown .menu ul li img {
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
}
.dropdown .menu ul li a.logout {
    color : var(--danger);
}
.dropdown .menu ul li a.logout:hover {
    color : var(--danger);
}

.dropdown .menu ul li.hover img{
    opacity: 1;
}
.dropdown .menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    transition: 0.5s;
}
.dropdown .menu ul li:hover a {
    color: #6C9BCF;
}


main{
   
    padding: 36px 24px;
    max-height: calc(100vh - 56px);
}

main .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
}

 main .header  h1{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--dark);
}

.interface main .header{
    display: flex;
    align-items: center;
    grid-gap: 16px;
}

.interface main .headerli{
    color: var(--dark);
}
.interface main .header li a{
    color: var(--dark-grey);
    pointer-events: none;
}

.interface main .header li a{
    color: var(--primary);
    pointer-events: none;
}

main .analyse{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

main .analyse > div{
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
}

main .analyse > div:hover{
    box-shadow: none;
}

main .analyse > div .status{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .analyse h3{
    margin-left: 0.6rem;
    font-size: 1rem;
}

main .analyse .progresss{
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

main .analyse svg{
    width: 7rem;
    height: 7rem;
}

main .analyse svg circle{
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

main .analyse .sales svg circle{
    stroke: var(--color-success);
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

main .analyse .visits svg circle{
    stroke: var(--color-danger);
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

main .analyse .searches svg circle{
    stroke: var(--color-primary);
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

main .analyse .progresss .percentage{
    position: absolute;
    top: -3px;
    left: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
/* burası converter ile ilgili kısım */
.cryptoConverter {
    position: absolute;
    right: 5px!important;
    width: 20rem;
    color: #fff;
    background: rgba(0, 0, 0, 0.44);
    padding: 0px 20px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 30vh;
}
.cryptoConverter h2 {
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;

}

.pform {
    font-weight: 100!important;
    margin-bottom: -20px;
    margin-top: 20px;
}
.select-header option{
    background: rgba(0, 0, 0, 0.44);
}


.cryptoConverter #fromCurrency {
    width: 100%;
    cursor: pointer;
    font-size: 1rem;
    background: none;
    margin: 20px -5px 0 5px;
    border-radius: 5px;;
    
}   
.cryptoConverter #toCurrency {
    width: 100%;
    cursor: pointer;
    font-size: 1rem;
    background: none;
    margin: 0 -5px 0 5px;
    border-radius: 5px;
    
}   
.cryptoConverter .select {
    font-size: 0.9rem;
    border: 1px solid rgb(221, 221, 221);
}
.cryptoConverter input{
    margin:0 -5px 0 5px ;
    width: 100%;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0 15px;
    background: transparent;
    color: #fff;
    border: 1px solid #999;
    transition: all 0.3s ease;

    
}
.cryptoConverter input:hover {
    border: 1px solid #675afe;
}

.cryptoConverter input:focus {
    padding: 0 14px;
    border: 1px solid #675afe;
}
.cryptoConverter ::placeholder
{
    font-size: 1rem;
    color:rgb(20,30,55);
}

.cryptoConverter .primary-btn {
    width: 100%;
    height: 42px;
    color: #fff;
    background: #2a2d35;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.primary-btn:hover {
    background: #675afe;
}
 
.cryptoConverter #result {
    font-size: 1.1rem;
    margin: 20px 0 30px;
}
.content .cryptoConverter i {
    cursor: pointer;
    margin-top: 32px;
    font-size: 22px;
    transform: rotate(90deg);
    transition: all 0.3s ease;
    margin-left: 50%;
    color: #ffff;

}
.content .cryptoConverter i:hover {
    color: #675afe;
}

-- coinlerle ilgili kisim --
.coin{
    display: flex;
    width: 460px;
    height: 80px;
    border-radius: 0px;
    margin: 30px 0;
    font-family:'Merriweather', serif;
    ;
}

.coin .coin-logo{
    width: 40px;
    height: 100%;
    display: grid;
    place-items: center;
}

.coin .coin-logo img{
    width: 100%;
    height: 100%;
}

.coin .coin-name{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.coin .coin-name h3{
    color: #0f0303;
    font-size: 13px;
    text-transform: uppercase;
    bottom: 0;
    right: 0;
}

.coin .coin-name span{
    color: #000000;
    font-size: 10px;
    font-weight: 300;
    margin: 6px 0 0 2px;
}

.coin .coin-price{
    display: flex;
    align-items: right;
    margin-left: auto;
    padding: 8px 22px 0 0;
    text-align: right;
   

}

.coin .coin-price .price{
    font-size: 20px;
    font-weight: 700;

    
}

.coin .coin-price .change{
    color: #050000;
    font-size: 13px;
    font-weight: 600;
    margin-top: 3px;
    margin-left: 15px;
}

.coin.rising .coin-price .price{
    color: #30ff20;
}



.coin.falling .coin-price .price{
    color: #ff4040;
}




@media screen and (max-width: 576px) {

    .interface nav {
        
        background: red;
    }
    
    .content nav form .form-input input{
        display: none;
    }

    .content nav form .form-input button{
        width: auto;    
        height: auto;
        background: transparent;
        color: var(--dark);
        border-radius: none;
    }

    .content nav form.show .form-input input{
        display: block;
        width: 100%;
    }

    .content nav form.show .form-input button{
        width: 36px;
        height: 100%;
        color: var(--light);
        background: var(--danger);
        border-radius: 0 36px 36px 0;
    }

    .content nav form.show~.notif, .content nav form.show~.profile{
        display: none;
    }

}



